#placeholder {
  text-align: center;
  width: 75%;
  margin: 35px auto; }
  #placeholder h1, #placeholder h2, #placeholder h3 {
    padding-top: 10px;
    line-height: 120%;
    font-family: "Mullish", sans-serif; }
  #placeholder h1 {
    color: #1C6970;
    margin-bottom: 15px; }
  #placeholder h2 {
    color: #292e25;
    margin-bottom: 15px; }
  #placeholder h3 {
    color: red; }
  #placeholder img {
    width: 50%;
    border-radius: 5px;
    margin: 15px 5px; }
  #placeholder span {
    color: #545C4E;
    word-break: keep-all;
    word-wrap: normal;
    white-space: nowrap; }
  @media screen and (max-width: 600px) {
    #placeholder img {
      width: 100%; } }

.contacto {
  width: 75%; }
  .contacto h2 {
    text-align: center; }
  .contacto p {
    font-size: 1.4em;
    text-align: center; }
  .contacto form {
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 1.4em; }
    .contacto form .form-row {
      padding: 0 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 5px; }
      .contacto form .form-row input[type="text"],
      .contacto form .form-row input[type="email"] {
        width: 50%; }
    .contacto form .comment {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0 20px;
      margin: 5px; }
      .contacto form .comment textarea {
        justify-self: flex-end;
        width: 70%;
        height: 100px;
        resize: none; }
    .contacto form fieldset {
      border: 1px solid #53bdc5;
      padding: 0 10px; }
      .contacto form fieldset input[type="radio"] {
        margin-left: 30px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background-color: #eee;
  font-family: sans-serif;
  font-family: "Source Sans Pro";
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

h2 {
  color: #245a57;
  font-family: 'Mulish', sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

table {
  width: 75%;
  margin: 10px auto; }
  table tr {
    border-bottom: 1px solid black; }
  table td, table th {
    padding: 5px; }

header {
  background-color: white;
  color: #398d88; }
  header #titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 30px;
    height: 18vw; }
    @media screen and (max-width: 600px) {
      header #titulo {
        height: 35vw;
        padding: 10px 0 10px 10px; } }
    header #titulo #heading-icon {
      width: 50%; }
      @media screen and (max-width: 600px) {
        header #titulo #heading-icon {
          width: 100%; } }
  header h1 {
    padding: 20px 30px;
    font-size: 3em;
    font-family: 'Mulish', sans-serif;
    letter-spacing: 4px;
    display: inline-block; }
    @media screen and (max-width: 600px) {
      header h1 {
        font-size: 1.5em;
        padding: 10px 10px; } }

span.title {
  white-space: nowrap; }

#navbar-top {
  margin-bottom: 0;
  z-index: 1000;
  background-color: #398d88;
  color: #292e25; }

.navbar-collapse {
  padding-left: 10px;
  padding-bottom: 0; }

.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
  height: auto; }

.container-fluid {
  background-color: #398d88;
  color: #292e25; }

.navbar-inverse .navbar-nav > li > a {
  color: #53bdc5; }

.navbar-inverse .navbar-brand {
  color: #53bdc5;
  letter-spacing: 2px; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #292e25;
  background-color: inherit;
  font-weight: bold;
  border: 1px solid #292e25;
  border-radius: 5px; }

.nav li {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.nav li:hover {
  background-color: rgba(255, 255, 255, 0.2) !important; }

.navbar-inverse .navbar-nav > a:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.content-stickyNav {
  padding-top: 68px; }

nav {
  color: #292e25; }

#portada {
  width: 100%;
  top: 0;
  margin: 0 auto 20px auto; }
  @media screen and (max-width: 600px) {
    #portada {
      width: 100%;
      padding: 0;
      margin: 0;
      border-radius: 0; } }

main {
  width: 80%;
  max-width: 1300px;
  margin: auto;
  color: #292e25;
  padding-top: 20px; }
  @media screen and (max-width: 600px) {
    main {
      width: 100%;
      padding: 10px; } }
  main h2 {
    font-family: 'Mulish', sans-serif;
    color: #245a57;
    letter-spacing: 2px;
    padding: 10px; }
  main p {
    font-size: 1.2em; }
  main ul, main ol {
    padding-left: 10px;
    font-size: 1.2em; }

#nlc-map {
  margin-top: 20px; }
  #nlc-map .nlc-map-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 90%;
    margin: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    @media screen and (max-width: 1200px) {
      #nlc-map .nlc-map-items {
        width: 100%; } }
    @media screen and (max-width: 960px) {
      #nlc-map .nlc-map-items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    #nlc-map .nlc-map-items > div {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      #nlc-map .nlc-map-items > div img {
        display: block;
        margin: 20px auto 0 auto;
        -ms-flex-item-align: end;
            align-self: flex-end;
        margin-bottom: 20px;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0; }
      @media screen and (max-width: 960px) {
        #nlc-map .nlc-map-items > div {
          width: 100%; } }
  #nlc-map .nlc-item {
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #53bdc5;
    -webkit-box-shadow: 0 0 15px black;
            box-shadow: 0 0 15px black;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    #nlc-map .nlc-item img {
      width: 50%;
      margin: 0 auto; }
    @media screen and (max-width: 600px) {
      #nlc-map .nlc-item {
        height: auto; } }

#mas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #mas .fas {
    font-size: 2em; }
  #mas a {
    display: block;
    width: 30%;
    text-decoration: none; }
    @media screen and (max-width: 600px) {
      #mas a {
        width: 50%;
        margin: auto;
        -ms-flex-item-align: stretch;
            -ms-grid-row-align: stretch;
            align-self: stretch; } }
  #mas button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    letter-spacing: 5px;
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
    background-color: #8d2a75;
    color: #d5e2da;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: none; }
    #mas button:hover, #mas button:active {
      background-color: #a73a8d; }
    @media screen and (max-width: 480px) {
      #mas button {
        width: 100%; } }
  #mas h2 {
    text-align: center;
    width: 75%;
    padding: 10px;
    margin: 30px auto;
    border-radius: 15px;
    letter-spacing: 5px;
    -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
    background-color: #8d2a75;
    color: #d5e2da; }
    @media screen and (max-width: 480px) {
      #mas h2 {
        width: 90%; } }

.sub-nav {
  display: block;
  margin: auto;
  width: 100%; }
  .sub-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 600px) {
      .sub-nav ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .sub-nav li {
    padding: 0 30px;
    list-style: none;
    border-left: 1px solid #53bdc5; }
    .sub-nav li:first-child {
      border-left: none; }
    .sub-nav li:hover {
      border: 1px solid #53bdc5;
      border-radius: 5px; }
      .sub-nav li:hover + li {
        border: none; }
        @media screen and (max-width: 600px) {
          .sub-nav li:hover + li {
            border: 1px solid #53bdc5; } }
    .sub-nav li a {
      color: #245a57;
      text-decoration: none;
      letter-spacing: 1px; }
    @media screen and (max-width: 700px) {
      .sub-nav li {
        padding: 15px; } }
    @media screen and (max-width: 600px) {
      .sub-nav li {
        padding: 5px;
        width: 32%;
        border: 1px solid #53bdc5;
        border-radius: 5px;
        margin: 2px; }
        .sub-nav li:first-child {
          border-left: 1px solid #53bdc5; }
        .sub-nav li + li {
          border: 1px solid #53bdc5; }
        .sub-nav li:active, .sub-nav li:hover {
          background-color: rgba(83, 189, 197, 0.2); } }

.fas, .far {
  color: #53bdc5; }

.list-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .list-p i {
    padding: 5px; }

.alert {
  color: #8d2a75;
  padding: 0; }

footer {
  background: #245a57;
  font-size: 1em;
  text-align: center;
  color: #ccc;
  padding: 10px;
  width: 100%;
  margin-top: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  letter-spacing: 1px; }
  footer a {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  footer a:hover, footer a:active {
    color: #646A61; }

a.contacto {
  display: block;
  text-align: center;
  width: 30%;
  padding: 10px;
  margin: 30px auto;
  border-radius: 15px;
  letter-spacing: 5px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  background-color: #8d2a75;
  color: #d5e2da;
  text-decoration: none;
  border: none; }
  a.contacto:hover, a.contacto:active {
    background-color: #a73a8d; }
  @media screen and (max-width: 480px) {
    a.contacto {
      width: 50%; } }

.icons {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 200%;
  color: #646A61;
  padding-bottom: 0; }
  .icons ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0; }
    .icons ul li {
      list-style: none;
      margin: 0 10px; }
      .icons ul li a {
        color: #ccc; }
        .icons ul li a:hover, .icons ul li a:active {
          color: #646A61; }
/*# sourceMappingURL=styles.css.map */