@import 'placeholder';


// color palette
$color-Edward: #B0B8B3;
$color-Elm: #1C6970;
$color-WillowGrove: #646A61;
$color-Siam: #545C4E;
$color-fr: #292e25;
$color-fr-heading: #d5e2da;

$verde-1: #245a57;
$azul-claro: #53bdc5;
$verde-2: #398d88;
$verde-3: #53a7a2;
$rosa-1: #8d2a75;
$rosa-2: #a73a8d;
$cafe: #5a502d;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: sans-serif;
    font-family: "Source Sans Pro"
}

ol, ul {
    list-style-position: inside;
}

header {
    background-color: $verde-1;
    color: #d5e2da;

    #titulo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 30px;

        @media screen and (max-width: 600px) {
            padding: 10px 0 10px 10px;

        }

        #heading-icon {
            width: 48px;

            @media screen and (max-width: 600px) {
                width: 32px;
            }
        }
    }

    h1 {
        
        padding: 20px 30px;
        font-size: 3em;
        font-family: 'Mullish', sans-serif;
        letter-spacing: 4px;
        display: inline-block;

        @media screen and (max-width: 600px) {
            font-size: 1.5em;
            padding: 10px 10px;
        }
        
    }

    // nav {
    //     background-color: $color-Siam;
    //     letter-spacing: 2px;
    //     margin: 0;
    //     width: 100%;
    //     font-variant: small-caps;

    //     ul {
    //         display: flex;
    //         list-style: none;
    //         justify-content: space-around;
    //         line-height: 2em;

    //         li {
    //             flex-grow: 1;
    //             text-align: center; 
    //             margin: 0;
    //         }

    //         li:hover {
    //             background-color: $color-WillowGrove;
    //         }

    //         a {
    //             text-decoration: none;
    //             color: #d5e2da;
    //         }
    //     }
    // }
}

span.title {
    white-space: nowrap;
}

.navbar-collapse {
    padding-left:10px;
    padding-bottom: 0;
 }
// .nav, .navbar-nav li a:hover {background-color: rgba(255,255,255, 0.2);}

.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

.container-fluid {
    background-color: $cafe;
 
}


// .navbar-inverse .navbar-nav>.active>a,
// .navbar-default .navbar-nav>.active>a:focus,
// .navbar-default .navbar-nav>.active>a:hover {
//     color: #292e25;
//     background-color: $cafe;
//     }

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus{
    color: $color-fr;
    background-color: inherit;
    font-weight: bold;
}

.nav li {
    transition: all 0.2s ease;
    border-bottom: 1px solid  rgba(255,255,255, 0.2)
}
.nav li:hover {
    background-color: rgba(255,255,255, 0.2) !important;
}

.navbar-inverse .navbar-nav>a:hover {
    background-color: rgba(255,255,255, 0.2);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content-stickyNav{
    padding-top: 68px;
}

nav {
    color: #d5e2da;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    color: $color-fr;

    @media screen and (max-width: 600px) {
        width: 100%;
    }

    #portada {
        width: 100%;
        display: block;
        
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.5);

        @media screen and (max-width: 600px) {
            width: 100%;
            padding: 0;
            margin: 0;
            border-radius: 0;
        }
        
    }
    #portada + p {
        text-align: center;
        margin: 20px;

    }

    h2 {
        font-family: 'Mullish', sans-serif;
        padding: 10px;
    }

    p {
        font-size: 1.2em;
    }
}

#nlc-map {
    margin-top: 20px;

    .nlc-map-items {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: auto;
        flex-grow: 1;  
        align-items: stretch;
        

        @media screen and (max-width: 960px) {
            flex-direction: column;
        }

        &>div {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            img {
            display: block;
            margin: 20px auto 0 auto;
            align-self: flex-end;
            margin-bottom: 20px;
            flex-grow: 0;
            
        }

            @media screen and (max-width: 960px) {
                width: 100%;
            }
        }

    }
    .nlc-item {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: $verde-2;
        box-shadow: 0 0 15px rgba(0,0,0,1);  
        flex-grow: 1;

        @media screen and (max-width: 600px) {
            height: auto;
        }
        
    }

    .nlc-map-items + h2 {
        text-align: center;
        width: 75%;

        padding: 10px;
        margin: 30px auto;
        border-radius: 15px;
        letter-spacing: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,1);
        background-color: $rosa-1;
        color: $color-fr-heading;

        @media screen and (max-width: 480px) {
            width: 90%;    
        }
    }
}