@import 'placeholder';


// color palette
$color-Edward: #B0B8B3;
$color-Elm: #1C6970;
$color-WillowGrove: #646A61;
$color-Siam: #545C4E;
$color-fr: #292e25;
$color-fr-heading: #d5e2da;

$verde-1: #245a57;
$azul-claro: #53bdc5;
$verde-2: #398d88;
$verde-3: #53a7a2;
$rosa-1: #8d2a75;
$rosa-2: #a73a8d;
$cafe: #5a502d;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
    font-family: sans-serif;
    font-family: "Source Sans Pro";
}

h2 {
    color: $verde-1;
    font-family: 'Mulish', sans-serif;
}

table {
    width: 75%;
    margin: 10px auto;
    

    tr {
        border-bottom: 1px solid black;
    }
    td, th {
        padding: 5px;
    }
}


header {
    background-color: white;
    color: $verde-2;

    #titulo {

        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 15px 30px;
        height: 18vw;
        @media screen and (max-width: 600px) {
            height: 35vw;
            padding: 10px 0 10px 10px;
        }

        #heading-icon {
            width: 50%;

            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }
    }

    h1 {
        
        padding: 20px 30px;
        font-size: 3em;
        font-family: 'Mulish', sans-serif;
        letter-spacing: 4px;
        display: inline-block;

        @media screen and (max-width: 600px) {
            font-size: 1.5em;
            padding: 10px 10px;
        }
        
    }

}

span.title {
    white-space: nowrap;
}

#navbar-top {
    margin-bottom: 0;
    z-index: 1000;
    background-color: $verde-2;
    color: $color-fr;
}

.navbar-collapse {
    padding-left:10px;
    padding-bottom: 0;
 }
// .nav, .navbar-nav li a:hover {background-color: rgba(255,255,255, 0.2);}

.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
    height: auto;
}

.container-fluid {
    background-color: $verde-2;
    color: $color-fr;
    
 
}

.navbar-inverse .navbar-nav > li > a {
    color: $azul-claro;
}

.navbar-inverse .navbar-brand {
    color: $azul-claro;
    letter-spacing: 2px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus{
    color: $color-fr;
    background-color: inherit;
    font-weight: bold;
    border: 1px solid $color-fr;
    border-radius: 5px;
}

.nav li {
    transition: all 0.2s ease;
    border-bottom: 1px solid  rgba(255,255,255, 0.2)
}
.nav li:hover {
    background-color: rgba(255,255,255, 0.2) !important;
}

.navbar-inverse .navbar-nav>a:hover {
    background-color: rgba(255,255,255, 0.2);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content-stickyNav{
    padding-top: 68px;
}

nav {
    color: $color-fr;
}

#portada {
    width: 100%;
    top: 0;
    margin: 0 auto 20px auto;
    //border-radius: 5px;
    //box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    

    @media screen and (max-width: 600px) {
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    
}


main {
    width: 80%;
    max-width: 1300px;
    margin: auto;
    color: $color-fr;
    padding-top: 20px;

    @media screen and (max-width: 600px) {
        width: 100%;
        padding: 10px;
    }

    

    h2 {
        font-family: 'Mulish', sans-serif;
        color: $verde-1;
        letter-spacing: 2px;
        padding: 10px;
    }

    p {
        font-size: 1.2em;

    }

    ul, ol {
        padding-left: 10px;
        font-size: 1.2em;
    }
}

#nlc-map {
    margin-top: 20px;

    .nlc-map-items {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: auto;
        flex-grow: 1;  
        align-items: stretch;
        

        @media screen and (max-width: 960px) {
            flex-direction: column;
        }

        &>div {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            img {
            display: block;
            margin: 20px auto 0 auto;
            align-self: flex-end;
            margin-bottom: 20px;
            flex-grow: 0;
            
        }

            @media screen and (max-width: 960px) {
                width: 100%;
            }
        }

    }
    .nlc-item {
        width: 100%;
        padding: 0 10px;
        border-radius: 10px;
        background-color: $azul-claro;
        box-shadow: 0 0 15px rgba(0,0,0,1);  
        flex-grow: 1;

        img {
            width: 50%;
            margin: 0 auto;
        }

        ul {
            list-style-position: inside;
        }

        @media screen and (max-width: 600px) {
            height: auto;
        }
        
    }
}

#mas {
    display: flex;
    flex-direction: column;
    align-items: center;

    
    .fas {
        font-size: 2em;
    }

    a {
        text-decoration: none;

    }

    button {
        display: block;
        text-align: center;
        width: 100%;
    
        padding: 10px;
        margin: 30px auto;
        border-radius: 15px;
        letter-spacing: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,1);
        background-color: $rosa-1;
        color: $color-fr-heading;

        border: none;

        
        &:hover {
            //background-color: rgba(255, 255, 255, 0.1);
            border: 2px solid rgba(255,255,255, 0.5);
        }
    
        @media screen and (max-width: 480px) {
            width: 70%;    
        }

    }

    h2 {
        text-align: center;
        width: 75%;
    
        padding: 10px;
        margin: 30px auto;
        border-radius: 15px;
        letter-spacing: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,1);
        background-color: $rosa-1;
        color: $color-fr-heading;
    
        @media screen and (max-width: 480px) {
            width: 90%;    
        }
    }
}



// sub-nav

.sub-nav {
    
    ul {
        display: flex;
        justify-content: center;
    }


    li {
        padding: 0 30px;
        list-style: none;
        border-left: 1px solid $azul-claro;

        @media screen and (max-width: 600px) {
            padding: 5px;
        }

        &:first-child {
            border-left: none;
        }


        &:hover {
            border: 1px solid $azul-claro;
            border-radius: 5px;

            &+li {
                border: none; 
            }
        }

        a {
            color: $verde-1;
            text-decoration: none;
            letter-spacing: 1px;

        }
    }
}

.fas, .far {
    color: $azul-claro;
}

.list-p {
    display: flex;

    i {
        padding: 5px;
    }
}

.alert {
    color: $rosa-1;
    padding: 0;
}